body{
    font-family: Arial, sans- sans-serif;
    margin:0;
    padding:0;
    background-color:white;
}
header{
    background:#333;
    color:white;
    padding: 10 px 20px;
    text-align: center;
}
nav ul {
    list-style-type:nome;
    padding: 0;
    margin: 0;
}
nav ul li {
    display:inline;
    margin: 0 10 px;
}
nav a {
    color:white;
    text-decoration: nome;
}
    section{ 
        padding: 20px;
        margin: 10 px;
        border-radius:5px;
    }
    .projetos{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .projetos ul{
        list-style: nome;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    .projetos{
       margin: 10px;
    }
    footer{
        text-align: center;
        padding: 10px;
        background:#333;
        color:white;

    }